.app {
    height: 100vh;
    overflow: hidden;
}
.navbar {
    height: 100%;
    display: flex;
    flex: 1;
}
.nav-links {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vh;
    margin-right: 2vh;
    background: #ffffff;
    box-shadow: 0vh 0vh 1vh #979797de;
}
.nav-header {
    width: 100%;
    flex: 1;
    border-bottom: 0.15vh solid #9494947c;
}
.nav-body {
    flex: 6;
    margin-top: 5vh;
}
.link {
    height: 5vh;
    width: 80%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4d4d4d;
    padding-left: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-weight: 600;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
.link:hover {
    color: #0ba35c;
    transition: 0.15s ease-in-out;
}
.details-link {
    text-decoration: none;
    color: #08b162;
}
.icon-link {
    margin-top: 0.5vh;
}
.text-link {
    margin-left: 2vh;
}
.button-text {
    margin-left: 2vh;
}
.outlet {
    height: 100%;
    flex: 4;
    padding-top: 2.5vh;
    padding-left: 2vh;
    background-color: #fefefe;
    overflow-y: scroll;
}
.common-container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 2vh;
    padding-top: 2vh;
    height: 14vh;
    border-bottom: 0.15vh solid #9494947c;
    margin-bottom: 2.5vh;
}
.header-title {
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    color: #0ba35c;
}
.header-secondary-title {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-weight: 400;
    font-style: italic;
    color: #423b4ba9;
}
.logo {
    width: 5vh;
    height: 5vh;
    margin-right: 2vh;
}


.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13.25vh;
    padding-left: 2.5vh;
    margin-bottom: 4vh;
    border-bottom: 0.15vh solid #9494947c;
}
.home-header-title {
    font-weight: 600;
    font-size: 1.25em;
    color: #0ba35c;
}
.home-header-secondary-title {
    margin-top: 2.5vh;
    font-weight: 400;
    font-style: italic;
}
.home-body {
    padding: 2vh;
    height: 100%;
}
.incomes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}
.income {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 30vh;
    height: 25vh;
    border-radius: 4vh;
    padding-left: 2.5vh;
}
.income-title {
    font-weight: 600;
}
.income-amount {
    font-size: 2em;
    font-weight: 600;
    color: #212331;
    font-family: "Roboto", sans-serif;
}
.income-text {
    font-weight: 600;
    font-size: 0.9em;
    color: #212331;
}
.income-daily {
    border: 1px solid #0ba35c;
    background-color: #f2f3f279;
}
.income-weekly {
    border: 1px solid #d6d303;
    background-color: #f3f2f379;
}
.most-game-weekly {
    border: 1px solid #1187be;
    background-color: #f3f2f379;
}
.least-game-weekly {
    border: 1px solid #be112e;
    background-color: #f3f2f379;
}
.daily-title {
    color: #10834d;
}
.weekly-title {
    color: #77750f;
}
.most-weekly-title {
    color: #145d80;
}
.least-weekly-title {
    color: #c9233e;
}
.charts {
    display: flex;
    justify-content: space-around;
}
.line-chart {
    width: 75vh;
    height: 45vh;
}

.search-body {
    height: 100%;
    margin-top: 2.5vh;
}
.search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5vh;
    margin-bottom: 2.5vh;
}
.go-button {
    height: 100%;
    margin-left: 5vh;
}

.new-purchase-form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}
.new-purchase-game-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.purchase-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.purchase-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}